#canvas {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

#character {
  display: none;
}

#barrier {
  display: none;
}

#status {
  font-size: 20px;
  font-family: sans-serif;
}

#fireball {
  display: none;
}

#enemy {
  display: none;
}

#chest {
  display: none;
}

#ladder {
  display: none;
}

#player-mini {
  display: none;
}

#chest-mini {
  display: none;
}

#enemy-mini {
  display: none;
}

#ladder-mini {
  display: none;
}
